In [100]:
import json 
import pandas as pd

In [103]:
data=pd.read_json(r"C:\Users\venuk\OneDrive\Desktop\facebook\security_and_login_information\mobile_devices.json")

In [105]:
data.keys()

Index(['devices'], dtype='object')

In [106]:
data["devices"]

0    {'type': 'iPhone11,8', 'os': 'iOS 13.6.1', 'up...
Name: devices, dtype: object

In [108]:
data1=pd.read_json(r"C:\Users\venuk\OneDrive\Desktop\facebook\security_and_login_information\where_you're_logged_in.json")

In [110]:
data1.columns

Index(['active_sessions'], dtype='object')

In [116]:
len(data1["active_sessions"])

28

In [118]:
locat=[]

In [119]:
data1["active_sessions"][0].get("location")

'Chittoor, India'

In [122]:
for i in range(len(data1["active_sessions"])):
    loacte=data1["active_sessions"][i].get("location")
    locat.append(loacte)

In [129]:
locat

['Chittoor, India',
 'Chittoor, India',
 'Chittoor, India',
 'Chittoor, India',
 'Chittoor, India',
 'Hyderabad, India',
 'Chittoor, India',
 'Chittoor, India',
 'Chittoor, India',
 'Hyderabad, India',
 'Hyderabad, India',
 'Hyderabad, India',
 'Hyderabad, India',
 'Hyderabad, India',
 'Hyderabad, India',
 'Hyderabad, India',
 'Hyderabad, India',
 'Hyderabad, India',
 'Pune, India',
 'Pimpri, India',
 'Pune, India',
 'Mormugao, India',
 'Pune, India',
 'Pune, India',
 'Pune, India',
 'Pune, India',
 'Pune, India',
 'Pune, India']

In [131]:
locat_unique=set(locat)

In [132]:
locat_unique

{'Chittoor, India',
 'Hyderabad, India',
 'Mormugao, India',
 'Pimpri, India',
 'Pune, India'}